<!doctype html>
<html lang="en">

<head>
    {{>head}}

    <title>About</title>
</head>

<body>
    {{>navbar}}

    <!-- main -->
    <main>
        <div class="container-fluid main_header">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <div class="row">
                        <!-- left side -->
                        <div class="col-md-6 col-12 main_header_right align-items-center">
                            <figure>
                                <img src="images/about.png" alt="Yash">
                            </figure>
                        </div>
                        <!-- right side -->
                        <div class="col-md-6 col-12 main_header_left">
                            <p>Welcome to My Page</p>
                            <h1>I am A <span class="text-clr">Web Developer</span></h1>
                            <a href="/"><button>About Me!</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {{>footer}}

</body>

</html>